body {
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 98%;
}




nav {
    padding: 10px;
    border: 10px;
    margin: 20px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    box-shadow: 10px 10px;
}

.nav1 {
    display: grid;
    justify-content: center;
}

.nav2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    font-size: 20px;
}

.sombranav2 {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    transition: transform 0.3s;
}

.sombranav2:hover {
    box-shadow: 4px 4px;
    transform: scale(1.1); 
}

.logomanke {
    height: 130px;
    width: 100%;
}

header {
    text-align: center;
    font-size: 30px;
}


main {
    display: grid;
    text-align: center;
}

.principal {
    display: grid;
    gap: 1px;
    padding: 25px;
    padding-top: 0px;
}

.opciones {
    padding: 10px;
    border: 10px;
    margin: 10px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    transition: transform 0.3s;
    font-size: xx-large;
}

.opciones:hover {
    box-shadow: 7px 7px;
    transform: scale(1.1); 
}

footer {
    padding: 10px;
    border: 10px;
    margin: 20px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    box-shadow: 10px 10px;
}

.footer {
    transition: transform 0.3s;
}

.footer:hover {
    transform: scale(1.3); 
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: x-large;
}